/* STRUCTURE */

.grid-pb {
  display: grid;
  grid-column-gap: 0.5%;
  grid-row-gap: 0.5%;
  grid-template-columns: 20% auto auto 20%;
  grid-template-rows: 4% auto auto auto auto auto 2.5%;
  grid-template-areas:
  "head head head head"
  "v1 follow post vdr"
  "v1 vdl post vdr"
  "v1 vdl post vdr"
  "v1 vdl about vdr"
  "v1 vdl more vdr"
  "footer footer footer footer"
}

/*HEADER*/

.header_bpost {
  grid-area: head;
  background-color: #FDF0E3;
  align-self: center;
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title_post {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*HEAD.NAVBAR*/

.navbar_bpost {
  display: flex;
  flex-direction: row;
}

.nav_pb_item {
  margin-right: 2em;
  margin-left: 2em;
  color: #E98305;
  color: #E98305;
  text-decoration: none;
}

.nav_pb_item:hover {
  text-decoration: underline;
}

/*MAIN-POST*/

.main {
  grid-area: post;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.author {
  display: flex;
}

#Me_small {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 100px;
}


#Sketchnote_img {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}

#fn1 {
  font-size: 0.9em;
}

/*ABOUT*/

.about {
  grid-area: about;
  background-color: #EBF4EC;
  padding: 1em;
}


/*FOLLOW*/

.follow {
  grid-area: follow;
  color: #00A991;
  width:55px;
  justify-self: end;
  margin-top: 50px;
}

.social {
  display: flex;
  flex-direction: column;
}

.s_item_pb {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #00A991;
}

/* MORE */

.more_posts {
  grid-area: more;
  justify-self: center;
}

.link_button {
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 3;
  color: black;
  background-color: #F5F7F9;
  color: #00A991;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid #00A991;
  width: 10rem;
  margin-left: 1em;
  margin-right: 1em;
}

.link_button:hover {
  background: #EBF4EC;
}

/* RESPONSIVENESS */

/* SMALL SCREEN (handys, tablets) */

@media (max-width: 700px) {
.grid-pb {
  display: grid;
  grid-column-gap: 0.5%;
  grid-row-gap: 0.5%;
  grid-template-columns: 4% auto auto 4%;
  grid-template-rows: 4% auto auto auto auto auto 2.5%;
  grid-template-areas:
  "head head head head"
  "follow follow follow follow"
  "post post post post"
  "post post post post"
  "about about about about"
  "more more more more"
  "footer footer footer footer"
}

.header_content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "title navbar"
  "search search"
}

.title_bpost {
  grid-area: title;
}

#title_post {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar_bpost {
  grid-area: navbar;
}

#search_bpost {
  grid-area: search;
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}

.follow {
  grid-area: follow;
  color: #00A991;
  justify-self: start;
  align-self: end;
  margin-top: 50px;
  padding-left: 32px;
  width: auto;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.s_item_pb {
  height: 1rem;
  width: 1rem;
  border: 1px solid #00A991;
}

.main {
  grid-area: post;
  padding-top: 0px;
  padding-left: 2em;
  padding-right: 2em;
}

#post_title {
  margin-top: 0px;
}

#sketchnotes {
  margin: 0px;
}

.link_button {
  margin: 0px;
}

}

/* MEDIUM SCREEN (tablets, small laptops) */

@media (min-width: 700px) and (max-width: 1200px) {
  .grid-pb {
    display: grid;
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
    grid-template-columns: 5% auto auto 5%;
    grid-template-rows: 4% auto auto auto auto auto 2.5%;
    grid-template-areas:
    "head head head head"
    "v1 follow post vdr"
    "v1 vdl post vdr"
    "v1 vdl post vdr"
    "v1 vdl about vdr"
    "v1 vdl more vdr"
    "footer footer footer footer"
  }
}
