@import "designsystem.css";

.grid-pb {
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 0.5%;
  grid-template-columns: auto 20%;
  grid-template-rows: 1.5% 1.5% auto 1fr 1fr 1fr;
  grid-template-areas:
  "head head"
  "nav nav"
  "post about"
  "post about"
  "post follow"
  "footer footer"
}

.header {
  grid-area: head;
  display: flex;
  flex-direction: row;
  background-color: #FDF0E3;
  align-items: center
}

#title_post {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

#searchbar {
  margin-left: auto;
}

.navbar {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  background-color: #FDF0E3;
}

#nav_item {
  margin-right: 4em;
  color: #E98305;
  /* color: black; */
}

#nav_link {
  color: #E98305;
  text-decoration: none;
}

.main {
  grid-area: post;
  background-color: #F5F7F9;
  padding: 1em;
}

.about {
  grid-area: about;
  background-color: #EBF4EC;
  padding: 1em;
}

.about_flex {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.follow {
  grid-area: follow;
  background-color: #FDF0E3;
  color: #E98305;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#social_icon {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #E98305;
}

#Sketchnote {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}

#Me {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 100px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

#fn1 {
  font-size: 0.9em;
}
