@import "designsystem.css";

.grid-pb {
  display: grid;
  grid-column-gap: 0.5%;
  grid-row-gap: 0.5%;
  grid-template-columns: 20% auto auto 20%;
  grid-template-rows: 4% auto auto auto auto 2.5%;
  grid-template-areas:
  "head head head head"
  "v1 follow post vdr"
  "v1 vdl post vdr"
  "v1 vdl post vdr"
  "v1 vdl about vdr"
  "footer footer footer footer"
}

/*HEADER*/

.header_bpost {
  grid-area: head;
  background-color: #FDF0E3;
}

/* .column_orange1 {
  grid-area: hl;
  background-color: #FDF0E3;
} */

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar_bpost {
  display: flex;
  flex-direction: row;
}

.navbar_bpost > a {
  margin-right: 2em;
  margin-left: 2em;
  color: #E98305;
  color: #E98305;
  text-decoration: none;
}

/* .title {
  margin-left: 400px;
} */

#title_post {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* #search_bpost {
  margin-right: 400px;
} */
/* #searchbar {
  margin-left: auto;
} */

/*NAVBAR*/

/* .navbar_bpost {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #FDF0E3;
} */


/*MAIN-POST*/
.main {
  grid-area: post;
  /* background-color: #F5F7F9; */
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  /* border: 1px solid black; */
}

.author {
  display: flex;
}

#Me_small {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 100px;
}


#Sketchnote {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}

#fn1 {
  font-size: 0.9em;
}

/*ABOUT*/

.about {
  grid-area: about;
  background-color: #EBF4EC;
  padding: 1em;
}


.about_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_flex > h3 {
  color: #00A991;
}

#Me {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 100px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/*FOLLOW*/

.follow {
  grid-area: follow;
  /* background-color: #EBF4EC; */
  color: #00A991;
  width:55px;
  justify-self: end;
  margin-top: 50px;
}

.social {
  display: flex;
  flex-direction: column;
}

.social > a {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #00A991;
}
